<%- include('header') %>

<div class='resultado'>
    <% if(error){ %>
        <%= error %>
    <% } else { %>
        $<%= quantidade %> 
        dolares na cotação 
        R$<%= cotacao %> 
        é igual a 
        R$<%= conversao %> 
        reais
    <% } %>
</div>

        
<%- include('footer') %>