<%- include('header') %>

<form class="container">
    <h4 class="text-success">Escolha a moeda para obter a sua cotação.</h4>
    <div class="alert alert-secondary" role="alert">
        Cotação do dia <%- data %>
      </div>
    <br>
    <div>
        <select id="selecionarMoeda" onchange="inserirMoeda()" onblur="calcular()" class="browser-default custom-select">
            <option selected>Escolha a moeda</option>
            <option id="<%- cotacaoUSD %>">Dolar Comercial</option>
            <option id="<%- cotacaoEUR %>">Euro</option>
            <option id="<%- cotacaoARS %>">Peso Argentino</option>
            <option id="<%- cotacaoBTC %>">Bitcoin</option>
            <option id="<%- cotacaoGBP %>">Libra Esterlina</option>
            <option id="<%- cotacaoJPY %>">Iene Japonês</option>
            <option id="<%- cotacaoAUD %>">Dólar Australiano</option>
            <option id="<%- cotacaoCHF %>">Franco Suíço</option>
        </select>
    </div>
    <br>
    <br>
    <input type="text" id="cotacaoMoeda" placeholder="Cotação" class="form-control"><br>
    <input id="quantidade" type="text" placeholder="Qual valor para cotação?" class="form-control"><br>
    <br>
    <button type="button" id="converter" class="btn btn-secondary btn-lg rounded mx-auto d-block" onclick="calcular()">Converter!</button>
    <br>
    <br>
    <label for="">Valor cotado para real(R$):</label>
    <div class="md-form">
        <input class="form-control" type="text" placeholder="Valor em reais" id="valorCalculado" readonly><br>
    </div>
</form>
<script>
    function selecionarMoeda(){
        var selectForm = document.getElementById('selecionarMoeda')
        var moedaSelecionada = selectForm.options[selectForm.selectedIndex].id
        return moedaSelecionada
    }
    function inserirMoeda(){
        document.getElementById('cotacaoMoeda').value = selecionarMoeda()
    }
    function calcular(){
        var calculo = 0
        var quantidade = document.getElementById('quantidade').value
        var cotacao = document.getElementById('cotacaoMoeda').value
        var calculo = quantidade * cotacao
        document.getElementById('valorCalculado').value = calculo.toFixed(2)
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<%- include('footer') %>